.box {
    margin: 0.2rem 0;
    display: flex;
    padding: 0.2rem;
    border-bottom: 1px solid #ccc;
}

.box img {
    width: 2.5rem;
    height: 3.8rem;
}

.title {
    color: #333;
    font-size: 16px;
}
.author {
    margin: 0.4rem 0;
    font-size: 14px;
    color: #333;
}

.meta {
    height: 2.1rem;
    line-height: 0.7rem;
    overflow: hidden;
    width: 6.5rem;
}
.content {
    padding-left: 0.2rem;
    flex: 1;
}