.book-list {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0.2rem;
}
.book-list li {
    float: left;
    width: 2.94rem;
    margin-right: 0.3rem;
    margin-bottom: 0.2rem; 
}

.book-list li:nth-child(3n) {
    margin-right: 0;
}

.book-list li img {
    width: 2.94rem;
    height: 4rem;
    background: #ccc;
}

.book-name {
    margin:0.2rem 0; 
    font-size: 12px;
    line-height: 0.4rem;
}
.book-author {
    line-height: 0.4rem;
    font-size: 12px;
    color:#aaa;
}